// colors
$color-dark-blue: #d0e6fe;
$color-grey: #292b36;
$color-white: #ffffff;

/* --- start icon fonts */

@font-face {
  font-family: 'wcc';
  src: url('../assets/fonts/wcc/wcc.eot');
  src: url('../assets/fonts/wcc/wcc.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/wcc/wcc.ttf') format('truetype'),
    url('../assets/fonts/wcc/wcc.woff') format('woff'), url('../assets/fonts/wcc/wcc.svg#wcc') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'wcc';
    src: url('../assets/fonts/wcc/wcc.svg#wcc') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.top-bar .logo-wrap {
  left: -10px;
  float: left;
  margin-bottom: 20px;
}

.top-bar .logo {
  display: inline-block;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  position: relative;
  left: -10px;
}

.icon-logo:before,
.icon-brand-logo:before {
  content: '\e62a';
  font-family: 'wcc';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root {
  background: #f3f4ff;
  //background: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 40px;
}

h2 {
  color: #2457b5;
  font-size: 24px;
}

h3 {
  color: #2457b5;
  font-size: 18px;
}

.wcc-link {
  color: #0b2165;
  text-decoration: underline;
}

.wcc-breadcrumb {
  clear: both;
  a {
    color: #292b36;
    font-size: 13px;
    text-decoration: none;
  }
}

.btn-wcc {
  background: #528dcf !important;
  background-image: linear-gradient(#7ba3cf, #1d61ad) !important;
  box-shadow: 1px 1px 3px 0 #1c1c1c;
  border: 1px solid #1a579b;
  border-radius: 5px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

// .sk-spinner {
//   display: none;
// }

.row-appear,
.row-enter {
  opacity: 0.01;
}

.row-appear.row-appear-active,
.row-enter.row-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  .sk-spinner {
    display: block;
  }
}

.row-leave {
  opacity: 1;
}

.row-leave.row-leave-active {
  opacity: 0.01;
  //transition: opacity 2000ms ease-in;
}

.NavigationItem {
  color: #fff;
}

.content {
  //margin-top: 60px;
  min-height: 450px;
}

.sticky {
  position: fixed;
}

a.active {
  color: #fff !important;
  cursor: default;
  text-decoration: underline;
}

nav form {
  padding-top: 8px;
}

nav input {
  margin-right: 10px;
}

.is-current {
  text-decoration: underline;
}

.rbc-calendar {
  //min-height: 405px;
  height: 405px !important;
}

.col-sm-right {
  clear: both;
}

.btn-switch {
  position: absolute;
  right: 0;
  margin-top: 20px;
}

//Bootstrap

.mobile .panel {
  border: none;
}

.mobile .panel .panel-collapse.collapse.in,
.mobile .panel .panel-collapse.collapsing {
  //border: 1px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading a {
  display: block;
  cursor: pointer;
  width: 100%;
}

.btn-info,
.panel-info > .panel-heading {
  background-color: $color-dark-blue;
  color: $color-grey;
}

.date-info {
  margin-top: 40px;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}

// Helper Classes

.no-height {
  height: 0;
}

div.spinner {
  top: 300px !important;
}

.rbc-calendar .rbc-toolbar {
  display: block;
  .rbc-btn-group {
    display: block;
    text-align: center;
  }
  .rbc-toolbar-label {
    display: block;
    text-align: center;
  }
  .rbc-toolbar-label {
    white-space: nowrap;
  }
}

//Media Queries
@media screen and (min-width: 550px) {
  .rbc-calendar .rbc-toolbar {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 0;
  }
  .date-info {
    margin-top: 0;
  }
  .inner-content {
    padding-left: 70px;
    padding-right: 70px;
  }
  .btn-switch {
    text-align: right;
    position: static;
  }
  .col-sm-right {
    clear: none;
    float: right;
  }
}
