// colors
$color-dark-blue: #d0e6fe;
$color-grey: #292b36;
$color-white: #ffffff;

html,
#root {
  background: #f3f4ff;
  //background: #fff;
}

.wcc-link {
  color: #0b2165;
  text-decoration: underline;
}

.wcc-breadcrumb {
  a {
    color: #292b36;
    font-size: 13px;
    text-decoration: none;
  }
}

.btn-wcc {
  background: #528dcf !important;
  background-image: linear-gradient(#7ba3cf, #1d61ad) !important;
  box-shadow: 1px 1px 3px 0 #1c1c1c;
  border: 1px solid #1a579b;
  border-radius: 5px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.margin-botton-0 {
  margin-bottom: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

// .sk-spinner {
//   display: none;
// }

.row-appear,
.row-enter {
  opacity: 0.01;
}

.row-appear.row-appear-active,
.row-enter.row-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  .sk-spinner {
    display: block;
  }
}

.row-leave {
  opacity: 1;
}

.row-leave.row-leave-active {
  opacity: 0.01;
  //transition: opacity 2000ms ease-in;
}

.NavigationItem {
  color: #fff;
}

.content {
  margin-top: 60px;
  min-height: 800px;
}

.exercise-list img {
  //height: 100px;
  width: 100%;
}

.sticky {
  position: fixed;
}

a.active {
  color: #fff !important;
  cursor: default;
  text-decoration: underline;
}

.exercise-detail ol {
  margin-left: 0;
  padding-left: 16px;
}

nav form {
  padding-top: 8px;
}

nav input {
  margin-right: 10px;
}

.is-current {
  text-decoration: underline;
}

.rbc-calendar {
  min-height: 393px;
}

.panel-info > .panel-heading {
  background-color: $color-dark-blue;
  color: $color-grey;
}

@media screen and (min-width: 768px) {
  .inner-content {
    padding-left: 70px;
    padding-right: 70px;
  }
  .btn-switch {
    text-align: right;
  }
}
