footer {
  font-family: "Open Sans", sans-serif;
  color: #404352;
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #2457b5;
  }
  .pre-cont {
    background: #b9bcce;
    padding: 15px 50px;
  }

  .main {
    background: #d2d5e8;
    padding-top: 15px;
    padding-bottom: 36px;
    h2 {
      font-size: 24px;
      font-weight: normal;
      border-bottom: 1px solid #404352;
      padding-bottom: 10px;
      margin-top: 0;
      color: #404352;
    }
  }
  .post-cont {
    padding: 15px 0;
    background: #e0e3f6;
    ul li {
      float: left;
      margin-right: 10px;
    }
  }

  .last-bar {
    padding-top: 10px;
    .icon-brand-logo:before {
      content: "\e64d";
      font-size: 36px;
    }
    .logo {
      float: left;
      font-size: 40px;
    }
    .copyright {
      float: right;
    }
  }
}

@media (min-width: 768px) {
  footer {
    .post-cont ul li {
      margin-right: 55px;
    }
  }
}
